head
  title= "Voice Command Fun!"
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Gafata")
  script(src="js/jquery-1.10.2.js")
  script(src="js/annyang.js")
  script(src="js/app.js")
body
